[submodule "deploy/charts/mongo"]
	path = deploy/charts/mongo
	url = https://github.com/kscout/mongo-chart.git
[submodule "deploy/charts/http"]
	path = deploy/charts/http
	url = https://github.com/kscout/http-service-chart.git
